<div class="container" style="height: 450px;">
    <button class="close" mat-button (click)="onClose()">
        <i class="fa-solid fa-xmark fa"></i>
    </button>
    <div class="text-center">
        <h1 style="color: #C63652; font-weight: bold;">Credits</h1>
    </div>
    <div class="row">
        <div class="column text-center">
            <div class="rounded-img"></div>
            <h3 class="name">Alex Richman</h3>
            <p class="title">Chief Executive Officer</p>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="column text-center">
            <div class="rounded-img"></div>
            <h3 class="name">Alex Richman</h3>
            <p class="title">Chief Executive Officer</p>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="column text-center">
            <div class="rounded-img"></div>
            <h3 class="name">Alex Richman</h3>
            <p class="title">Chief Executive Officer</p>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="column text-center">
            <div class="rounded-img"></div>
            <h3 class="name">Alex Richman</h3>
            <p class="title">Chief Executive Officer</p>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
</div>
