a {
    color: #C63652;
}
.required:after {
    content:" *";
    color: #C63652;
}
mat-icon {
    min-width: 15px;
    min-height: 15px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #C63652!important;
}